.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag("#{@prototype.user.avatar}", size: "64x64", class: "media-object"), user_path(current_user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.name}", user_path(@prototype.user)
            %span.degree
              = @prototype.user.member

    .col-md-6.text-right#js-like-buttons
      = render partial: 'likes/like', locals: { prototype: @prototype, like: @like }
  .row
    .col-md-9
      = image_tag(@prototype.main_image, class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.all_sub_image.each do |prototype|
          %li.list-group-item
            = image_tag(prototype.image, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p=@prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p=@prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num#js-comments-count
        (#{@prototype.comments.count})
    #comment_area.col-md-8
      #js-comment-list
        = render partial: 'comments/comment', locals: { comments: @comments }
    .col-md-8
      - if user_signed_in?
        = form_for [@prototype, @comment], remote: true do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, placeholder: "Your comments", rows: "3", class: "textarea form-control", id: "js-comment-text"
            .form-group.col-md-2
              = f.submit 'Comment', class: "button btn btn-primary"
